# Supabase credentials
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_CONNECTION_URL=
SUPABASE_DB_PASSWORD=

# Templates API
NEXT_PUBLIC_TEMPLATE_API_URL=
TEMPLATE_API_URL=
TEMPLATE_UPLOAD_API_KEY=

# Secret key for signing page auth cookies (can be generated using `openssl rand -hex 32`)
PAGE_AUTH_SECRET=

# Google Fonts API Key (only to used to execute `npm run fonts:update`)
GOOGLE_FONTS_API_KEY=
